.container {
  text-align: center;
  background-color: #c9fdd7;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

.title-header {
  font-size: 40px;

  color: #6892d5;
}
footer {
  font-size: 15px;
  text-align: left;
  color: #6892d5;
}
