.dictionary {
  text-align: center;
}
.dictionary section {
  background-color: #f8fcfb;
  padding: 15px;
  border-radius: 6px;

  margin: 20px 0;
}
.dictionary input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #c9fdd7;
  color: #6892d5;
}
.hint {
  text-align: left;
  color: #6892d5;
}
form {
  padding-bottom: 10px;
  padding-top: 10px;
}
